.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

div {
  /*width: 100%;*/
  /*height: 100%;*/
  /*z-index: -1;*/
  /*position: fixed;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*opacity: 0.8;*/
  /*z-index: 0;*/
}

.heroColumn {
}

.gradientOverlay {
  opacity: 0.8;
}

.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.heroStatement .span {
  background-image: linear-gradient(135deg, rgb(0,86,166) 10%, rgb(82,130,255) 40%, rgb(27,146,255) 72%, rgb(0,133,255) 100%);
  background-clip: text;
  color: transparent;
}

